<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'>

  </head>
  <body>
    <div class="main" id="home">
      <div class="header">
        <a class="active" href="#home">Home</a>
        <a href="#portfolio">Portfolio</a>
        <a href="#about-me">About Me</a>
        <a href="#contact">Contact</a>
      </div>
      <div class="hero-text">
        <h1>Hi, I'm Camilia</h1>
        <h2>Front-end Developer</h2>
        <div class="hzline"></div>
      </div>
    </div>
    <div class="portfolio" id="portfolio">
      <h1>Portfolio</h1>
      <div class="hzline"></div>
      <div class="portfolio-card card">
        <a href="twitch_api"><img class="card-img-top" src="/images/twitchlogo.jpg" alt="Card image cap"></a>
        <div class="card-body">
          <a href="twitch_api"><h5 class="card-title"> Twitch API Example</h5></a>
          <p class="card-text">Uses Twitch API to display online/offline channels</p>
          <span class="badge badge-secondary">Javascript</span>
        </div>
      </div>
    </div>
    <div class="about-me" id="about-me">
      <h1>About Me</h1>
      <div class="hzline"></div>
      <p>My name is Camilia and I'm a front-end developer with HTML, CSS, SCSS, JavaScript/jQuery, PHP, and MySQL experience. I'd like to use my skills to help create beautiful and functional user experiences and develop unique user interfaces.</p>
    </div>
    <div class="contact" id="contact">
      <h1>Get In Touch</h1>
      <div class="hzline"></div>
      <div class="text-center icons">
        <a href="https://github.com/camiliamzali"><i class="fab fa-github fa-7x icons"></i></a>
        <a href="https://stackoverflow.com/users/story/9318642?view=Timeline"><i class="fab fa-stack-overflow fa-7x icons"></i></a>
        <a href="https://www.linkedin.com/in/camilia-mzali-785205139/"><i class="fab fa-linkedin-in fa-7x icons"></i></a>
        <a href="..."><i class="fas fa-envelope fa-7x icons"></i></a>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
